@import "./variables";

.text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.text-para{
    font-size: 2rem;
    @include desktop{
        font-size: 3rem;
    }
    @include tablet{
        font-size: 2.2rem;
    }
}

.text-title{
    font-size: 7rem;
    background-color: color(secondary);
    margin: 0;
    border-style: double;
    border-width: 1rem;
    border-color: color(accent);
   
}


.text-title{
    animation-name: slidein;
    animation-duration: 3s;
}

@keyframes slidein {
    from {
      margin-left: 100%; 
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }




