@import "./variables";

.text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.text-para{
    font-size: 2rem;
    @include desktop{
        font-size: 3rem;
    }
    @include tablet{
        font-size: 2.2rem;
    }
}

.text-title{
    font-size: 7rem;
    background-color: color(secondary);
    margin: 0;
    border-style: double;
    border-width: 1rem;
    border-color: color(accent);
   
}


.text-title{
    animation-name: slidein;
    animation-duration: 3s;
}

@keyframes slidein {
    from {
      margin-left: 100%; 
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  
.city-parent{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-box {
    transition: .5s ;
    opacity: 0;
    position: absolute;
    z-index: 2;
}
 
  .city-image :hover {
    opacity: 0.2;
    transition: .5;
  }
  
  .city-image:hover ~ .city-box{
    opacity: 1;
    transition: .5;
  }
  
  .city-text {
    background-color: rgb(235, 147, 184);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-family: 'Bowlby One', cursive;
  }
  
.city-image{
    width: auto;
    height: 35rem;
    z-index: 1;
}



