.boxes{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.trevi-parent{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.trevi-box {
    transition: .5s ;
    opacity: 0;
    position: absolute;
    z-index: 2;
}
 
  .trevi-image :hover {
    opacity: 0.2;
    transition: .5;
  }
  
  .trevi-image:hover ~ .trevi-box{
    opacity: 1;
    transition: .5;
  }
  
  .trevi-text {
    background-color: color(secondary);
    color: black;
    font-size: 3rem;
    padding: 4px 32px;
    font-family: 'Six Caps', sans-serif; 
  }
  
.trevi-image{
    width: auto;
    height: 20rem;
    z-index: 1;
}

sdg
.vatican-parent{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.vatican-box {
    transition: .5s ;
    opacity: 0;
    position: absolute;
    z-index: 2;
}
 
  .vatican-image :hover {
    opacity: 0.2;
    transition: .5;
  }
  
  .vatican-image:hover ~ .vatican-box{
    opacity: 1;
    transition: .5;
  }
  
  .vatican-text {
    background-color: color(secondary);
    color: black;
    font-size: 3rem;
    padding: 4px 32px;
    font-family: 'Six Caps', sans-serif; 
  }
  
.vatican-image{
    width: auto;
    height: 20rem;
    z-index: 1;
}
