.colosseum-image{
    width: 85%;
    @include tablet{
        width: 59%;
    }
    @include desktop{
        width: 45%;
    }
}
.colosseum-parent{
    background-color: #E7E7E7;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    @include desktop{
        justify-content: space-between;
    }
}
.colosseum-title{
    font-size: 4rem; 
    line-height: 5rem;
    font-family: 'Six Caps', sans-serif;
    @include tablet{
        font-size: 6rem;
    }
    @include desktop{
        font-size: 6rem;
        line-height: 8rem;
        letter-spacing: 0.5rem;
    }
}

.colosseum-text{
    display: flex;
    flex-direction: column;
    @include tablet{
        max-width: 35rem;
    }
    @include desktop{
        max-width: 84rem;
    }
}

.colosseum-info{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    @include desktop{
        font-size: 2rem;
    }
}