.colosseum-image{
    width: 35%;
    @include tablet{
        width: 59%;
    }
    @include desktop{
        width: 30%;
    }
}
.colosseum-parent{
    background-color: #E7E7E7;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    width: 100%;
    height: 30vh;
    @include desktop{
        justify-content: space-between;
        height: 45vh;
    }
}
.colosseum-title{
    font-size: 4rem; 
    font-family: 'Six Caps', sans-serif;
    height: 11rem;
    margin-top: -5rem;
    @include tablet{
        font-size: 6rem; 
        line-height: 5rem;
        height: 15rem;
    }
    @include desktop{
        font-size: 6rem;
        line-height: 8rem;
        letter-spacing: 0.5rem;
    }
}

.colosseum-text{
    display: flex;
    flex-direction: column;
    width: 70%;
    @include tablet{
        max-width: 35rem;
    }
    @include desktop{
        max-width: 84rem;
    }
}

.colosseum-info{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.3rem;
    @include tablet{
        font-size: 1.7rem;
    }
    @include desktop{
        font-size: 3rem;
    }
}


