
@import "./variables";

header-image{
    height: auto;
    width: 100%;
}

.text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.text-para{
    font-size: 2rem;
}

.text-title{
    font-size: 7rem;
    background-color: color(secondary);
}

.header-parent{
background-image: linear-gradient(to right bottom,
/* rgba(201, 205, 205, 0.534), */
rgba(213, 159, 101, 0.486)),
    url(../media/fountain.jpeg);
    background-size: cover;
    opacity: 85%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    clip-path: polygon(49% 0, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    color: black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    
}

.header-title{
    font-size: 6rem;
    letter-spacing: 1rem;
}

.header-subtitle{
    font-size: 2rem;
    font-family: 'Marck Script', cursive;
    font-weight: bold;
}

