
@import "./variables";

header-image{
    height: auto;
    width: 100%;
}

.header-parent{
background-image: linear-gradient(to right bottom,
rgba(213, 159, 101, 0.486)),
    url(../media/fountain.jpg);
    background-size: cover;
    opacity: 85%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    clip-path: polygon(49% 0, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    color: black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    @include tablet{
        height: 45%; 
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    @include desktop{
        height: 70%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
   
}

.header-title{
    font-size: 6rem;
    letter-spacing: 1rem;
}

.header-subtitle{
    font-size: 2rem;
    font-family: 'Marck Script', cursive;
    font-weight: bold;
}



.header-subtitle{
    animation-name: slidein;
    animation-duration: 3s;
}

@keyframes slidein {
    from {
      margin-left: 100%; 
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }