
@import "./variables";
.header-image{
    height: auto;
    width: 100%;
}

.header-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.header-text-para{
    font-size: 2rem;
}

.header-text-title{
    font-size: 4rem;
    background-color: color(secondary);
}