.pantheon{
    height: auto;
    width: 12rem;
    position: absolute;
}

.pantheon-gallery{
    position: relative;
}
.ceiling{
    z-index: 3;
    top: -1rem;
    left: .5rem;
}
.floor{
    top: 9rem;
    left: .5rem;
    z-index: 1;
}
.outside{
    top: 4rem;
    left: 11rem;
    z-index: 2;
}

.pantheon:hover{
    transform: scale(.9);
    outline: .5rem solid black;
    z-index: 4;
    outline-offset: .2rem;
}

.pantheon-gallery:hover .pantheon:not(:hover){
    transform: scale(.8);
    opacity: 0.5;
}