.pantheon{
    height: auto;
    width: 20rem;
    position: absolute;
}

.pantheon-gallery{
    position: relative;
}
.ceiling{
    z-index: 3;
}
.floor{
    z-index: 1;
    top: 16rem;
}
.outside{
    top: 7rem;
    left: 16rem;
    z-index: 2;
}

.pantheon:hover{
    z-index: 3;
 
}

.pantheon-gallery:hover .pantheon:not(:hover){
    transform: scale(.8);
    opacity: 0.5;
}