$colors:(
primary: #c9cdcd,
secondary: #bdd5da,
accent: #e2ae7769
);
$first-color: #39a5bb;
$second-color: #77bac7ea;
$third-color: #a0c2c9;
$forth-color: #b7c7ca;
$fifth-color: #b1c6ca;
$text-color: #333;
$white-color: #fff;

@function color($color-name){
    @return map-get($colors, $color-name);
}

$desktop: 1100px;
$laptop: 900px;
$tablet: 600px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
