$colors:(
primary: #c9cdcd,
secondary: #bdd5da,
accent: #d59e65
);

@function color($color-name){
    @return map-get($colors, $color-name);
}

$desktop: 1100px;
$laptop: 900px;
$tablet: 600px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
