$colors:(
primary: #c9cdcd,
secondary: #add0d7,
accent: #e2ae7769
);
 

$text-color: #333;
$white-color: #fff;

@function color($color-name){
    @return map-get($colors, $color-name);
}

$desktop: 1100px;
$laptop: 900px;
$tablet: 600px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
