@import "./variables";
@import "./header";
@import "./pantheon";

html{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: color(primary);
}
body{
    padding: 0;
    margin: 0;
}
